body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Пользовательский стиль Таблиц*/
.table_blur {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
}

    .table_blur th {
        border-top: 1px solid #777777;
        border-bottom: 1px solid #777777;
        box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
        background: linear-gradient(#9595b6, #5a567f);
        color: white;
        padding: 10px 15px;
        position: relative;
    }

        .table_blur th:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 25%;
            height: 25%;
            width: 100%;
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
        }

    .table_blur tr:nth-child(odd) {
        background: #ebf3f9;
    }

    .table_blur th:first-child {
        border-left: 1px solid #777777;
        border-bottom: 1px solid #777777;
        box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
    }

    .table_blur th:last-child {
        border-right: 1px solid #777777;
        border-bottom: 1px solid #777777;
        box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
    }

    .table_blur td {
        border: 1px solid #e3eef7;
        padding: 10px 15px;
        position: relative;
        transition: all 0.5s ease;
    }

    .table_blur tbody:hover td {
        color: transparent;
        text-shadow: 0 0 3px #a09f9d;
    }

    .table_blur tbody:hover tr:hover td {
        color: #444444;
        text-shadow: none;
    }



/* ---------- LOGIN-FORM ---------- */

#login-form {
    margin: 50px auto;
    width: 500px;
}

    #login-form h1 {
        background-color: #282830;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 14px;
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    #login-form fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-block-end: 0.75em;
        padding-inline-start: 0.625em;
        padding-inline-end: 0.625em;
        border: 2px groove ThreeDLightShadow;
        min-width: -moz-min-content;
    }

        #login-form fieldset:before {
            background-color: #fff;
            content: "";
            height: 8px;
            left: 50%;
            margin: -4px 0 0 -4px;
            position: absolute;
            top: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 8px;
        }

    #login-form input {
        font-size: 14px;
    }

        #login-form input[type="text"],
        #login-form input[type="password"] {
            border: 1px solid #dcdcdc;
            width: 238px;
        }

        #login-form input[type="text"] {
            border-radius: 3px 3px 0 0;
        }

        #login-form input[type="password"] {
            border-top: none;
            border-radius: 0px 0px 3px 3px;
        }

        #login-form input[type="submit"] {
            background: #1dabb8;
            border-radius: 3px;
            color: #fff;
            float: right;
            font-weight: bold;
            margin-top: 20px;
            padding: 12px 20px;
        }

            #login-form input[type="submit"]:hover {
                background: #198d98;
            }

    #login-form footer {
        font-size: 12px;
        margin-top: 16px;
    }

.info {
    background: #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 20px;
}

.input {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 238px;
}